body {
  font-family: Arial, sans-serif;
  background-color: silver;
  color: #333333;
}

h1, h2 {
  color: #0082c8;
  margin-top: 0;
}

a {
  color: #0082c8;
}

a:hover {
  color: #005fa0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
}

#navigation {
  background-color: #0082c8;
  color: white;
  padding: 10px;
}

#navigation a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

#navigation a:hover {
  border-bottom: 1px solid #005fa0;
  color: #005fa0;
}

#content {
  padding: 10px;
  background-color: white;
}

#post-it {
        position: absolute;
        width: 250px;
        height: 250px;
        background-color: yellow;
        border: 1px solid black;
        z-index: 1;
    }
 #post-it-header {
        background-color: #990000;
        color: white;
        padding: 5px;
    }
 #post-it-content {
        padding: 5px;
    }



